*{
    box-sizing: border-box;
    top: 0;
    left: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
.wrapper{
    display: flex;
    margin-top: 30px;
}
.order_block{
    margin: auto;
    width: 500px;
    height: 600px;
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    position: relative;
}
.p{
    width: 200px;
    border: 2px solid yellow;
    border-radius: 15px;
    color: #fff;
    background-color: transparent;
    padding: 10px 20px;
    margin: auto;
    margin-top: 20px;
}
.p:hover{
    border: 2px solid #fff;
    transition: 0.5s;
}
.second_p{
    margin-left: 0px;
    color: #fff;
    margin-top: 20px;
    background-color: transparent;
    text-align: center;
}
.icons_block{
    display: flex;
    background-color: transparent;
}
.icons{
    width: 50px;
    background-color: transparent;
    height: 50px;
    margin: auto;
    margin-top: 30px;
}
.icons:hover{
    filter: grayscale(1);
    transition: 0.5s;
}






@media all and (max-width: 700px){
    .wrapper{
        margin-left: 0px;
    }
    .order_block{
        width: 400px;
        height: 500px;
    }
    .p{
        width: 200px;
        font-size: 15px;
    }
    .icons{
        width: 40px;
        height: 40px;
    }
    .second_p{
        font-size: 12px;
    }
}





@media all and (max-width: 450px){
    .wrapper{
        margin-left: 0px;
    }
    .order_block{
        width: 300px;
        height: 400px;
    }
    .p{
        width: 120px;
        font-size: 7px;
    }
    .icons{
        width: 30px;
        height: 30px;
    }
    .second_p{
        font-size: 9px;
    }
}



