*{
    box-sizing: border-box;
    top: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1340px;
}

.menu{
    display: flex;
    margin-top: 10px;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    z-index: 100;
}
.logo{
    margin-left: 50px;
    width: 150px;
    height: 50px;
    background-color: transparent;
}
.ul{
    margin-left: 300px;
    display: flex;
    list-style: none;
    background-color: transparent;
}
.li{
    background-color: transparent;
}
a.li_a{
    background-color: transparent;
}
.li_a{
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    font-size: 14px;
    position: relative;
}
.li_a::before{
    background-color: transparent;
    content: "";
    position: absolute;
    height: 3px;
    width: 0%; 
    background: black;
    bottom: 0;
    left: 0;
    transition: 0.7s;
}
.li_a:hover::before{
    width: 100%;
}
.basic_block{
    display: flex;
}
.p_basic{
    margin-left: 30px;
    font-size: 50px;
    margin-top: 250px;
    transform: translateX(-40%);
    transition: 1s;
    opacity: 0;
}
.p_basic.element-animation.element-show{
    opacity: 1;
    transform: translateX(0%);
}
.p_{
    margin-left: 30px;
    border: 0.1px solid black;
    font-weight: 500;
    color: black;
    padding: 15px 50px;
    border-radius: 30px;
    font-size: 21px;
    background-color: transparent;
    position: relative;
    z-index: 1;
    transform: translateX(-60%);
    opacity: 0;
}
.p_.element-animation.element-show{
    opacity: 1;
    transition: 1s;
    transform: translateX(0%);
}

.p_:hover{
    transition: 0.3s;
    border: none;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 15px black;
}
.img_basic{
    margin-left: 200px;
    width: 550px;
    height: 600px;
}




.second_wrapper{
    margin-top: 100px;
    display: flex;
}
.first_block{
    text-align: center;
    width: 33%;
    transform: translateY(50%);
    transition: 1s;
    opacity: 0;
}
.first_block.element-animation.element-show{
    transform: translateX(0%);
    opacity: 1;
}
.second_block{
    text-align: center;
    width: 33%;
    transition: 1s;
    transform: translateY(50%);
    opacity: 0;
}
.second_block.element-animation.element-show{
    transform: translateY(0%);
    opacity: 1;
}
.third_block{
    text-align: center;
    width: 33%;
    transform: translateY(50%);
    transition: 1s;
    opacity: 0;
}
.third_block.element-animation.element-show{
    transform: translateX(0%);
    opacity: 1;
}
.info_p{
    font-size: 60px;
}
.second_info_p{
    margin-top: -50px;
}



.third_wrapper{
    margin-top: 100px;
}
.p_block{
    font-size: 25px;
    margin-left: 30px;
    transform: translateX(-50%);
    transition: 1s;
    opacity: 0;
}
.p_block.element-animation.element-show{
    transform: translateX(0%);
    opacity: 1;
}
.first_block_img{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 2%;
}
.second_block_img{
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 2%;
}
.img1{
    width: 48%;
    margin-left: 5px;
    height: 450px;
}



.fourth_wrapper{
    margin-top: 50px;
}
.second_fourth_wrapper{
    margin-top: 50px;
}
.door_block{
    display: flex;
    margin-top: 10px;
}
.container_door_block{
    display: flex;
    margin-top: 10px;
}
.first_door_block{
    width: 32%;
    height: 620px;
    margin-left: 1%;
    border: 0.1px solid black;
}
.new_door{
    text-align: center;
    width: 200px;
    padding: 10px;
    margin-top: 50px;
    margin-left: 80%;
    font-weight: bold;
    border: none;
    font-size: 20px;
    background-color: transparent;
    transform: scale(0);
    transition: 1s;
}
.new_door.element-animation.element-show{
    transform: scale(1);
}
.first_img_door{
    margin-left: 5%;
    width: 90%;
    height: 91%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}
.first_button_door{
    border: 1px #4B5157 solid;
    width: 90%;
    height: 4.5%;
    font-size: 17px;
    background-color: transparent;
    margin-left: 5%;
    margin-top: 1.5%;
}
.second_door_block{
    width: 32%;
    height:620px;
    margin-left: 1%;
border: 0.1px solid black;
}
.third_door_block{
    width: 32%;
    height: 620px;
    margin-left: 1%;
    border: 0.1px solid black;
}





.fifth_wrapper{
    width: 100%;
}
.furniture_block, .second_furniture_block{
    margin-top: 50px;
    display: flex;
}
.first_furni_block{
    width: 650px;
    height: 500px;
    margin-left: 25px;
    border: 0.1px solid black;
}
.second_furni_block{
    width: 650px;
    height: 500px;
    border: 0.1px solid black;
    margin-left: 25px;
}
.first_furni_img{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    width: 90%;
    height: 85%;
}




.end_wrapper{
    border-top: 2px solid red;
    margin-top: 50px;
    height: 100%;
    background-color: black;
    color: #4B5157;
    position: relative;
}
.p1{
    background-color: transparent;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: #4B5157;
}
.p2{
    background-color: transparent;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 20px;
}
.fistt_button{
    margin-top: 5px;
    font-size: 15px;
    width: 300px;
    border-bottom: 1px solid #4B5157;
    padding: 10px 5px;
    margin-left: 30px;
    background-color: transparent;
    text-transform: uppercase;
    transform: translateX(-30%);
    transition: 1s;
    opacity: 0;
}
.fistt_button.element-animation.element-show{
opacity: 1;
transform: translateX(0%);
}
.end_div{
    display: flex;
    background-color: transparent;
}
@media all and (max-width: 1350px){
    .element-animation{
        margin-left: 0%;
    }
    .ul{
        margin-left: 200px;
    }
    .li_a{
        padding: 10px 15px;
    }
    .first_button_door{
        font-size: 16px;
    }

}










@media all and (max-width: 1250px){
.li{
    margin-left: 0px;
    }
.li_a{
    margin-left: 0px;
    }
.ul{
    margin-left: 100px;
}
.logo{
    width: 120px;
    height: 40px;
}
.img1{
    height: 450px;
}

.first_door_block, .second_door_block, .third_door_block{
    height: 500px;
}
.first_furni_block, .second_furni_block{
    height: 467px;
    margin-left: 22px;
}
.first_button_door{
    font-size: 15px;
}




}
.ul > li+li {
    margin-left: 30px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}
.hamburger {
    display: none;
margin-left: 300px; 
z-index: 10;
}







@media all and (max-width: 1100px){
.logo{
    width: 120px;
    height: 40px;
}
.ul{
    margin-left: 80px;
}
.li_a{
    font-size: 12px;
}
.p_basic{
    font-size: 35px;
    width: 300px;
}
.img1{
    width: 48%;
    margin-left: 5px;
    height: 400px;
}
.first_door_block, .second_door_block, .third_door_block{
    height: 440px;
}
.first_furni_block, .second_furni_block{
    height: 411px;
}
.first_button_door{
    font-size: 14px;
}
.p1{
    font-size: 16.5px;
}
}









@media all and (max-width: 1000px){
.logo{
    width: 120px;
    height: 40px;
}
.li_a{
    font-size: 12px;
    margin-left: 0px;
    padding: 5px 8px;
}
.ul{
    margin-left: 80px;
}
.p_basic{
    font-size: 35px;
    width: 300px;
}
.p_{
    padding: 14px 45px;
}
.img_basic{
    margin-left: 300px;
    width: 350px;
    height: 500px;
}
.img1{
    width: 48%;
    margin-left: 5px;
    height: 350px;
}
.first_door_block, .second_door_block, .third_door_block{
    height: 400px;
}
.first_furni_block, .second_furni_block{
    height: 373px;
}
.first_button_door{
    font-size: 13px;
}
.p1{
    font-size: 15px;
}
.p2{
    font-size: 15px; 
}
.fistt_button{
    font-size: 11px;
    margin-left: 10px;
    width: 250px;
}
}








@media all and (max-width: 900px){
    .logo{
        width: 120px;
        height: 40px;
    }
.li_a{
    font-size: 10px;
    margin-left: 0px;
    padding: 5px 8px;
}
.ul{
    margin-left: 60px;
}
.p_basic{
    font-size: 30px;
    width: 300px;
}
.p_{
    font-size: 15px;
}
.img_basic{
    width: 250px;
    margin-left: 150px;
    height: 400px;
}
.info_p{
    font-size: 39px;
}
.second_info_p{
    font-size: 12px;
    margin-top: -30px;
}
.p_block{
    font-size: 17px;
}
.img1{
    height: 300px;
}
.first_door_block, .second_door_block, .third_door_block{
    height: 360px;
}
.first_furni_block, .second_furni_block{
    height: 320px;
}
.second_furniture_block, .furniture_block{
    margin-top: 20px;
}

.p1{
    font-size: 13.5px;
}
.p2{
    font-size: 13.5px;
}
.first_button_door{
    height: 17px;
}


@media all and (max-width: 800px){
    .logo{
        width: 120px;
        height: 40px;
    }
    .li_a{
        font-size: 10px;
        margin-left: 0px;
        padding: 5px 0px;
    }
    .p_basic{
        margin-top: 180px;
        font-size: 30px;
        width: 250px;
    }
    .img_basic{
        width: 250px;
        margin-left: 150px;
        height: 400px;
    }
    .p_block{
        font-size: 15px;
    }
    .img1{
        width: 48%;
        margin-left: 5px;
        height: 250px;
    }
    .first_door_block, .second_door_block, .third_door_block{
        height: 320px;
    }
    .first_furni_block, .second_furni_block{
        height: 270px;
    }
    .first_button_door{
        font-size: 11px;
        height: 16px;
    }
    .p1{
        font-size: 12px;
    }
    .p2{
        font-size: 12px;
    }
}





@media all and (max-width: 760px){
    .logo{
        width: 110px;
        height: 36px;
    }
    .ul{
        padding:40px 60px 40px 20px;
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: -100%;
        background-color: #4B5157;
        color: white;
        flex-direction: column;
        align-items: flex-start;
        margin: 0px;
        transition: 0.3s;
        z-index: 100;
    }
    .li_a{
        border: 0px;
        color: black;
        background-color: transparent;
    }
    .ul.active {
        left: 0%;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
      }
      .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
      }
      .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
      }

    .ul > li+li {
        margin: 0px;
        background-color: transparent;
    }
    .ul > li {
        margin: 0px;
        background-color: transparent;
    }
    .hamburger{
        display: block;
        margin-left: 500px;
        z-index: 100;
    }
    .fistt_button{
        font-size: 10px;
        margin-left: 10px;
        width: 200px;
    }
}
@media all and (max-width: 700px){
    .hamburger{
        margin-left: 450px;
    }
    .second_wrapper{
        margin-top: 50px;
    }
    .third_wrapper{
        margin-top: 50px;
    }
    .img_basic{
        width: 250px;
        margin-left: 100px;
        height: 400px;
    }
    .p_{
        padding: 12px 35px;
        font-size: 15px;
    }
    .img1{
        width: 48%;
        margin-left: 5px;
        height: 200px;
    }
    .new_door{
        font-size: 12px;
        padding: 8px 8px;
        width: 100px;
    }
    .first_button_door{
        font-size: 10px;
    }
    .p1{
        font-size: 10.5px;
    }
    .p2{
        font-size: 10.5px;
    }
    .second_furniture_block{
        margin-top: 20px;
    }
}

@media all and (max-width: 650px){
    .logo{
        margin-left: 20px;
        width: 100px;
        height: 33px;
    }
    .p1{
        font-size: 10px;
    }

    .hamburger{
        margin-left: 400px;
    }
    .p_basic{
        font-size: 25px;
        width: 200px;
    }
    .img_basic{
        width: 240px;
        margin-left: 100px;
        height: 380px;
    }
    .info_p{
        font-size: 35px;
        margin-top: 0px;
    }
    .second_info_p{
        font-size: 10px;
        margin-top: -30px;
    }
    .first_door_block, .second_door_block, .third_door_block{
        height: 260px;
    }
    .first_furni_block, .second_furni_block{
        height: 223px;
    }
    .first_button_door{
        font-size: 9px;
    }
    .fistt_button,.second_button{
        font-size: 10px;
        margin-left: 10px;
        padding: 5px 15px;
    }
    .end_a{
        width: 17px;
        height: 17px;
    }
}






@media all and (max-width: 550px){
    .logo{
        margin-left: 10px;
        width: 80px;
        height: 26px;
    }
    .hamburger{
        margin-left: 350px;
    }
    .p_basic{
        margin-left: 10px;
        font-size: 20px;
        width: 180px;
        margin-top: 110px;
    }
    .p_{
        margin-left: 10px;
        padding: 8px 20px;
        font-size: 10px;
    }
    .img_basic{
        width: 170px;
        margin-left: 50px;
        height: 250px;
    }
    .info_p{
        font-size: 30px;
        margin-top: 0px;
    }
    .second_info_p{
        font-size: 8px;
        margin-top: -30px;
    }
    .p_block{
        font-size: 10.5px;
    }
    .img1{
        width: 48%;
        margin-left: 5px;
        height: 150px;
    }
    .new_door{
        font-size: 9px;
        padding: 4px 4px;
        width: 80px;
        margin-top: 10px;
    }
    .first_door_block, .second_door_block, .third_door_block{
        height: 250px;
    }
    .first_furni_block, .second_furni_block{
        margin-left: 15px;
        width: 350px;
        height: 185px;
    }
    .first_button_door{
        font-size: 8px;
    }

    .p1{
        font-size: 9px;
    }
    .p2{
        font-size: 9px;
    }
    .fistt_button,.second_button{
        font-size: 7px;
        margin-left: 10px;
        padding: 5px 10px;
    }
}
@media all and (max-width: 500px){

    .hamburger{
        margin-left: 335px;
    }
}


@media all and (max-width: 450px){
    .logo{
        margin-left: 10px;
        width: 80px;
        height: 26px;
    }
    .p2{
        padding-top: 5px;
        margin-top: 0px;
    }
    .hamburger{
        margin-left: 200px;
    }
    .p_basic{
        font-size: 15px;
        width: 150px;
        margin-top: 110px;
    }
    .p_{
        padding: 4px 19px;
        font-size: 9px;
    }

    .img_basic{
        margin-top: 25px;
        width: 150px;
        margin-left: 40px;
        height: 220px;
    }
    .p_block{
        font-size: 8.5px;
    }
    .img1{
        width: 48%;
        margin-left: 5px;
        height: 100px;
    }
    .first_door_block, .second_door_block, .third_door_block{
        height: 180px;
    }
    .first_img_door{
        height: 157px;
    }
    .first_furni_block, .second_furni_block{
        margin-left: 10px;
        width: 250px;
        height: 167px;
    }
    .first_button_door{
        height: 10px;
        font-size: 5px;
        border: 0.1px solid black;
    }
    .second_fourth_wrapper{
        margin-top: 20px;
    }
    .fourth_wrapper{
        margin-top: 25px;
    }
    .new_door{
        margin-left: 10px;
    }
    .p1{
        font-size: 7.5px;
    }
    .p2{
        font-size: 7.5px;
    }
    .second_furniture_block{
        margin-top: 10px;
    }
    .fistt_button, .second_button{
        font-size: 5px;
        margin-left: 10px;
        padding: 4px 8px;
    }
    .end_a{
        width: 12px;
        height: 12px;
    }
}



@media all and (max-width: 350px){
    .logo{
        margin-left: 10px;
        width: 60px;
        height: 20px;
    }
    .hamburger{
        margin-left: 200px;
    }
    .p_basic{
        font-size: 12px;
        width: 120px;
        margin-top: 80px;
    }

    .img_basic{
        margin-top: 15px;
        width: 130px;
        margin-left: 20px;
        height: 200px;
    }
    .info_p{
        font-size: 25px;
    }
    .second_info_p{
        font-size: 8px;
        margin-top: -30px;
    }
    .p_block{
        font-size: 7px;
    }
    .new_door{
        font-size: 7px;
        padding: 4px 4px;
        width: 60px;
    }
    .first_door_block, .second_door_block, .third_door_block{
        height: 180px;
    }
    .first_img_door{
        height: 157px;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    }
    .first_furni_block, .second_furni_block{
        height: 129px;
    }
    .first_furni_img{
        height: 100px;
    }
    .first_button_door{
        border: 0.1px solid black;
        margin-top: 1.5%;
        font-size: 6px;
    }
.second_fourth_wrapper{
    margin-top: 10px;
}
.p1{
    font-size: 6px;
}
.p2{
    font-size: 6px;
}

}



}

















